.contacts__wrapper {
  padding: 19px 19px 22px 19px;
  display: flex;
}

.contacts__wrapper--bgcolor {
  background-color: $grey;
}

.contacts__slogan {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $black-light;
  margin: 0;
  padding: 3px;
  flex-basis: 50%;
}

.contacts__adress {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: $dark-grey;
  margin: 0;
  flex-basis: 50%;
}

.contacts__map {
  display: flex;
}
