.feature {
  margin: 27px 20px 27px 20px;
}
.feature__title {
  @include oswald;
  font-size: 36px;
  line-height: 40px;
  color: $black;
  margin-top: 38px;
}
.feature__list {
  margin: 0;
  padding: 0;
}
.feature__item {
  list-style: none;
  margin-bottom: 15px;
}
.feature__description {
  @include arial;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  display: inline-flex;
  align-items: center;
  margin: 0;
}
.feature__description::before {
  content: url('/img/advantage-leaf@1x.png');
  background-color: $green;
  width: 60px;
  height: 60px;
  margin-right: 20px;
}
