.programs {
  margin: 22px 20px 20px 20px;
}
.programs__item {
  background-color: $grey;
  margin-bottom: 20px;
}
.programs__title {
  @include oswald;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin: 0;
}
.programs__title::before {
  content: url('/img/icon-cat-slim.svg');
  width: 50px;
  height: 53px;
  padding: 22px;
}
.programs__text {
  @include arial;
  font-size: 14px;
  line-height: 18px;
  color: $dark-grey;
  margin-left: 20px;
  margin-right: 33px;
  border-bottom: 1px $spec-grey-5 solid;
  padding-bottom: 23px;
}
.programs__button {
  @include oswald;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  color: $black;
  padding: 0 0 20px 19px;
}
.programs__button::after {
  content: url('/img/icon-right-arrow-long.svg');
  width: 24px;
  height: 12px;
  padding-left: 15px;
}
